.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 16px;
  border-bottom: 1px solid #2a363b;
  box-shadow: 0 5px 5px #888;
}

.header:hover,
.header:focus {
  border-color: #7277e3;
  box-shadow: 0 5px 5px #7277e3;
}
